html, body {
 margin: 0;
 padding: 0;
 font-family: 'Roboto', sans-serif;
 width:100%;
 color: #000;
}



.header {
 padding: 15px;
}

.header img {
   display: inline-block;
}

.header h1 {
   display: inline-block;
}

.footer {
 text-align: center;
 margin: 80px 0 110px;
}

.footer h2 {
 font-size: 24px;
 margin-bottom: 25px;
}

.footer img {
   margin: 0 10px;
}

table.fullWidth {
    width: 100%;
}

table {
    border-collapse: collapse;
    border: 1px solid #8b8b8b;
    margin-bottom: 1em;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    background-color: #888;
    color: #fff;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
tbody tr:nth-child(odd) {
    background-color: #f0f0f0;
}

td, th {
    padding: .25em .5em;
    vertical-align: top;
    text-align: left;
    empty-cells: show;
    border-radius: 2px;
}

thead th, thead td {
    font-weight: bold;
}
