<h1>RUNNERS</h1>
<div class="container">
 <div class="row">
    <div class="col-md-6 col-lg-6">
      <h1>Спортсмены</h1>
      <table class="fullWidth">
          <thead>
            <tr>
                <th></th>
                <th>Имя</th>
                <th>Спортивное общество</th>
                <th>Очки</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="runner in info | orderBy: 'FULLNAME'">
            <td><input type="checkbox" name="" ng-change="AdminRunnersCtrl.selected(runner)" ng-model="runner.isSelected"/></td>
            <td>{{runner.FULLNAME}}</a></td>
            <td>{{runner.TEAM}}</td>
            <td>{{runner.CUR_RANK | number:2}}</td>
            </tr>
          </tbody>
      </table>
    </div>
    <div class="col-md-6">
        <h1>Duplicates</h1>
       
        <table class="fullWidth">
            <thead>
            <tr>
                <th></th>
                <th>Имя</th>
                <th>Спортивное общество</th>
            </tr>
          </thead>
            <tbody>
                <tr ng-repeat="runner in info | orderBy: 'FULLNAME' | filter: {'isSelected':true}">
                <td><input type="radio" name="duplicates" ng-value="runner" ng-change="AdminRunnersCtrl.selectedPrimary(runner)" ng-model="AdminRunnersCtrl.selectedRunner"/></td>
                <td>{{runner.FULLNAME}}</a></td>
                <td>{{runner.TEAM}}</td>
                </tr>
          </tbody>
        </table>
       <div ng-show="show">
        <div class="panel panel-primary" >
            <div class="panel-heading">
                <h3 class="panel-title">{{AdminRunnersCtrl.selectedRunner.FULLNAME}}</h3>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>ID</dt>
                    <dd>{{AdminRunnersCtrl.selectedRunner.ID}}</dd>
                    <dt>Клуб</dt>
                    <dd>{{AdminRunnersCtrl.selectedRunner.TEAM}}</dd>
                    <dt>Пол</dt>
                    <dd>{{AdminRunnersCtrl.selectedRunner.SEX}}</dd>
               </dl>
            </div>
            </div>
            <button type="button" class="btn btn-danger" id="merge" ng-click="AdminRunnersCtrl.merge()">Merge</button>
        </div>
  </div>
</div>