
<div class="container">
    <div class="row row-content" ng-controller="DishDetailController">
        <div class="col-xs-12" ng-if="!showDish">
            <h1>{{message}}</h1>
        </div>
        <div class="col-xs-12" ng-if="showDish">
            <button class="btn btn-xs btn-primary pull-right"
                    type="button" ui-sref="app.menu">
                    Back to Menu
            </button>
            
            <div class="media">
              <div class="media-left">
                <a ui-sref="app.menu">
                  <img class="media-object" ng-src="{{dish.image}}" alt="Uthapizza">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">{{dish.name}}
                <span class="label label-danger">{{dish.label}}</span>
                <span class="badge">{{dish.price | currency}}</span></h4>
                {{dish.description}}
              </div>
            </div>
        </div>
        <div class="col-xs-1 col-xs-offset-1">Order by:</div>
        <div class="col-xs-2">
            <select class="form-control"
               ng-model="predicate"
               ng-options="element.value as element.label for element in orderByList">
                <option value=""></option>
            </select>
        </div>
        <div class="col-xs-9 col-xs-offset-1">
            <ul class="media-list tab-pane fade in active">
                <li class="media" ng-repeat="comment in dish.comments  | orderBy:predicate:reverse">
                    <span>Rating: {{comment.rating}}</span>
                    <blockquote>
                        
                        <p>{{comment.comment}}</p>
                        <footer>{{comment.author}} <cite title="Source Title">{{comment.date | date}}</cite></footer>
                    </blockquote>
                </li>
            </ul>
        </div>
        <div ng-controller="DishCommentController">
            <div class="col-xs-9 col-xs-offset-1">
               <ul class="media-list tab-pane fade in active" ng-show="!userCommentForm.author.$error.required && !userCommentForm.author.$pristine">
                    <li class="media">
                        <span>Rating: {{userComment.rating}}</span>
                        <blockquote>
                            <p>{{userComment.comment}}</p>
                            <footer>{{userComment.author}} <cite title="Source Title">{{userComment.date | date}}</cite></footer>
                        </blockquote>
                    </li>
                </ul>
            </div>
                
            <div class="col-xs-9 col-xs-offset-1">
                <form class="form-horizontal" role="form" name="userCommentForm" ng-submit="submitComment()" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : userCommentForm.author.$error.required && !userCommentForm.author.$pristine }">
                        <label for="author" class="col-sm-2 control-label">Your Name</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" id="author" name="author" placeholder="Enter Name" ng-model="userComment.author" required>
                        <span ng-show="userCommentForm.author.$error.required && !userCommentForm.author.$pristine" class="help-block">Your Name is required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="rating" class="col-sm-2 control-label">Number of Stars</label>
                        <div class="checkbox col-sm-5">
                            <input type="radio" name="rating" value="1" ng-model="userComment.rating">
                            <strong>1</strong>
                            <input type="radio" name="rating" value="2" ng-model="userComment.rating">
                            <strong>2</strong>
                            <input type="radio" name="rating" value="3" ng-model="userComment.rating">
                            <strong>3</strong>
                            <input type="radio" name="rating" value="4" ng-model="userComment.rating">
                            <strong>4</strong>
                            <input type="radio" name="rating" value="5" ng-model="userComment.rating">
                            <strong>5</strong>
                        </div>
                    </div>                    
                    <div class="form-group" ng-class="{ 'has-error' : userCommentForm.comment.$error.required && !userCommentForm.comment.$pristine }">
                        <label for="comment" class="col-sm-2 control-label">Your Feedback</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="comment" name="comment" rows="12" ng-model="userComment.comment" required></textarea>
                            <span ng-show="userCommentForm.comment.$error.required && !userCommentForm.comment.$pristine" class="help-block">Your comment is required.</span>
                        </div>
                    </div> 
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" ng-disabled="userCommentForm.$invalid">Send Feedback</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


