<div class="container">
  <h4>Описание системы подсчета</h4>
  <p>
    На этом сайте представлен рейтинг спортсменов, 
    которые принимали участие в соревнованиях проводимых ХФСО с использованием отметки SFR
  </p>
  <h4>Группы принимающие участие в рейтинге</h4>
  <p>
    В текущей версии рейтинг считается только для груп М21Е и Ж21Е. Если такие хрупп нет в протоколах - рейтинг не рассчитывается
  </p>
  <h4>Формула подсчета</h4>
  <p>
    Формула взята с сайта федерации ориентирования Швеции с некоторыми изменениями:
<pre> 
Points (P) = (Time - (TM - PM /  KK)) * KK
KK  =  (75 + PM) / TM)
где P - очки за конкретный старт
Time - время участника в секундах
TM - среднее время трех лучших спортсменов (первые три места)
РМ - среднее значение очков трех стартовавших спортсменов с минимальным лучшими очками
КК - коэфициент корреляции
75 - значение константы (примерное время для длинной дистанции)</pre>
		максимальный лимит - 300 очков,
		субьективные очки - 10 (присваивается первоначально каждому спортсмену в виде
		очков за 6 стартов начиная с дня первого попадания спортсмена в ретинг с шагом в месяц в прошлое)
		<h4>Ограничения</h4>
    <p>
    Каждые очки действительны в течении года, в рейтинг идут 6 лучших (минимальных) значений за последний год,
    если стартов недостаточно - присваиваются максимальные очки (300), в момент импорта участник получает 7 стартов, 6 субьективных и один реальный за конкретный старт
    </p>
		<h4>Что означают очки?</h4>
    <p>
    Значение очков показывает сколько минут спорсмен проиграет идеальному (по Харьковским меркам) победителю на дистанции с временем победителя в 75 минут
    </p>
  </p>
</div>
