<div class="container">
  <h4>Описание системы подсчета</h4>
  <p>
    На этом сайте представлен рейтинг спортсменов, 
    которые принимали участие в соревнованиях проводимых ХФСО с использованием результатов SFR или WinOrient 
  </p>
  <h4>Группы принимающие участие в рейтинге</h4>
  <p>
    В текущей версии рейтинг считается только для груп М21Е и Ж21Е. Если такие групп нет в протоколах - рейтинг не рассчитывается
  </p>
  <h4>Формула подсчета</h4>
  <p>
    Формула взята с сайта федерации ориентирования Швеции с некоторыми изменениями:
<pre> 
Points (P) = (Time - (TM - PM /  KK)) * KK
KK  =  (60 + PM) / TM)
где P - очки за конкретный старт
Time - время участника в секундах
TM - среднее время трех лучших спортсменов (первые три места)
РМ - среднее значение очков трех стартовавших спортсменов с минимальным лучшими очками
КК - коэфициент корреляции
60 - значение константы (примерное время для длинной дистанции)</pre>
		максимальный лимит - 90 очков,
		субьективные очки - 10 (присваивается первоначально каждому спортсмену в виде
		очков за 6 стартов начиная с дня первого попадания спортсмена в ретинг с шагом в месяц в прошлое)
		<h4>Ограничения</h4>
    <p>
    Каждые очки действительны в течении года, в рейтинг идут 6 лучших (минимальных) значений за последний год,
    если стартов недостаточно - присваиваются максимальные очки (90), в момент импорта участник получает 7 стартов, 6 субьективных и один реальный за конкретный старт
    </p>
		<h4>Что означают очки?</h4>
    <p>
    Значение очков показывает сколько минут спортсмен проиграет идеальному (по Харьковским меркам) победителю на дистанции с временем победителя в 60 минут
    </p>
  </p>
</div>
<div class="container">
  <h2 ng-click="toggleInfo()">Release progress <span ng-if="!showInfo" class="glyphicon glyphicon-chevron-up"></span> <span ng-if="showInfo" class="glyphicon glyphicon-chevron-down"></span></h2>
  <span ng-if="showInfo">
  <h4>v.: 0.3.6 / 2017-02-12</h4>
  <p>
    -added weekly statistics for each runner at runner details page
  </p>
  <h4>v.: 0.3.5 / 2017-02-09</h4>
  <p>
    -minor mobile layout changes, added admin module to the application, menu highlighting
  </p>
  <h4>v.: 0.3.4 / 2016-11-22</h4>
  <p>
    -updated logic - competition results in priority against subjective, highlighted results with subjective values, added statistic screen, added static db for static values
  </p>
  
   <h4>v.: 0.3.3 / 2016-11-11</h4>
  <p>
    -fixed bugs with async recalculation, added search in rank, minor UI updates for competition screen, added places column for ranking
  </p>
  <h4>v.: 0.3.2 / 2016-11-08</h4>
  <p>
    -formula changed, default time updated from 75 to 60, max points updated from 300 to 90
  </p>
  <h4>v.: 0.3.1 / 2016-10-02</h4>
  <p>
    -db error handlig implemented, minor UI changes (competitions status icons, logos, icons), admin tools work, on demand removing active competition, update title, add by URL
  </p>
  <h4>v.: 0.3.0 / 2016-09-05</h4>
  <p>
    -full Win Orient support, import logic rebuilded
  </p>
  <h4>v.: 0.2.5 / 2016-08-10</h4>
  <p>
    -chaged logic for import competitions(tho СОБ filter is in use now), WinOrient result files support added
  </p>
  <h4>v.: 0.2.4 / 2016-08-08</h4>
  <p>
    -added ability to manually import competitions via URL, switch on and off competiitons, merge duplicates
  </p>
  <h4>v.: 0.2.3 / 2016-08-01</h4>
  <p>
    -added URLs for competitions, minor updates
  </p>
  <h4>v.: 0.2.2 / 2016-07-29</h4>
  <p>
    -added pre-loads to all screens with info from server
  </p>
  <h4>v.: 0.2.1 / 2016-07-26</h4>
  <p>
    -added info screens for Runner and Competition views
  </p>
  <h4>v.: 0.2.0 / 2016-07-20</h4>
  <p>
    -added screens for Runner and Competition views
  </p>
  <h4>v.: 0.1.5 / 2016-07-10</h4>
  <p>
    -added screens for Runner ranking and Competitions list
  </p>
  <h4>v.: 0.1.0 / 2016-07-08</h4>
  <p>
    -backend with simple data presentation
  </p>
  <h4>v.: 0.0.1 / 2016-05-26</h4>
  <p>
    -initial commit, development start (env Cloud9 IDE, using AngularJS, Node and MySQL)
  </p>
  </span>
</div>
