<div class="container">
  <loader-template ng-hide="isDataLoaded"></loader-template>
  <div ng-show="isDataLoaded">
  <div class="row">
   <div class="col-xs-12 col-md-6  info-competitions">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{competitionViewCtrl.info.details[0].NAME}}</h3>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Дата проведения</dt>
                    <dd>{{competitionViewCtrl.info.details[0].DATE | date:'dd-MM-yyyy'}}</dd>
                    <dt>Участников</dt>
                    <dd>{{competitionViewCtrl.info.results.length}}</dd>
                     <dt>Ссылка</dt>
                    <dd><a href="{{competitionViewCtrl.info.details[0].URL}}" target="_blank">Результаты</a></dd>
               </dl>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
    <div class="col-xs-12  col-sm-12 col-md-6 col-lg-6">
    <h1>М21Е</h1>
    <table class="fullWidth">
        <thead>
          <tr>
              <th>Место</th>
              <th>Имя</th>
              <th>Результат</th>
              <th>Отставание</th>
              <th>Очки</th>
              <th>Группа</th>
          </tr>
        </thead>
        <tbody>
            <tr ng-repeat="result in competitionViewCtrl.info.results |  filter: {'COMP_GROUP':'M21E'}">
          <td ng-switch="result.PLACE">
            <span ng-switch-when="-1">-</span>
            <span ng-switch-default>{{result.PLACE}}</span>
          </td>
          <td><a ui-sref="app.runner({id: result.RUNNER})">{{result.NAME}}</a></td>
          <td ng-switch="result.PLACE">
             <span ng-switch-when="-1">-</span>
             <span ng-switch-default>{{result.TIME | date:'HH:mm:ss' : 'UTC'}}</span>
          </td>
          <td>{{result.TIME_BEHIND}}</td>
          <td>{{result.POINTS | number:2}}</td>
          <td>{{result.COMP_GROUP}}</td>
          </tr>
        </tbody>
    </table>
    </div>
    <div class="col-xs-12  col-sm-12 col-md-6 col-lg-6">
    <h1>Ж21Е</h1>
    <table class="fullWidth">
        <thead>
          <tr>
              <th>Место</th>
              <th>Имя</th>
              <th>Результат</th>
              <th>Отставание</th>
              <th>Очки</th>
              <th>Группа</th>
          </tr>
      
        </thead>
        <tbody>
          <tr ng-repeat="result in competitionViewCtrl.info.results |  filter: {'COMP_GROUP':'W21E'}">
            <td ng-switch="result.PLACE">
              <span ng-switch-when="-1">-</span>
              <span ng-switch-default>{{result.PLACE}}</span>
            </td>
            <td><a ui-sref="app.runner({id: result.RUNNER})">{{result.NAME}}</a></td>
            <td ng-switch="result.PLACE">
               <span ng-switch-when="-1">-</span>
               <span ng-switch-default>{{result.TIME | date:'HH:mm:ss' : 'UTC'}}</span>
            </td>
            <td>{{result.TIME_BEHIND}}</td>
            <td>{{result.POINTS | number:2}}</td>
            <td>{{result.COMP_GROUP}}</td>
          </tr>
        </tbody>
    </table>
    </div>
    </div>
  </div>
</div>