<footer class="row-footer">
    <div class="container">
        <div class="row">             
            <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-1">
                <h5>Навигация</h5>
                <ul class="list-unstyled">
                    <li><a ui-sref="app">Главная</a></li>
                    <li><a ui-sref="app.runners">Рейтинг</a></li>
                    <li><a ui-sref="app.competitions">Соревнования</a></li>
                    <li><a ui-sref="app.about">O рейтинге</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-5">
	              <i class="fa fa-envelope"></i>: 
                     <a ui-sref="mailto:test@test.com">
                     oleksandr.starov[at]gmail.com</a>
            </div>
          </div> 
         <div class="row">
             
            <div class="col-xs-4 col-xs-offset-4">
                <p align=center>© Copyright 2016 Oleksandr Starov</p>
            </div>
            <div class="col-xs-4 version">v.: 0.2.0 / 2016-07-26</div>
            
        </div>
    </div>
</footer>