<footer class="row-footer">
    <div class="container">
        <div class="row">             
            <div class="col-xs-11 col-xs-offset-1 col-sm-2 col-sm-offset-1">
                <h5>Навигация</h5>
                <ul class="list-unstyled">
                    <li><a ui-sref="app">Главная</a></li>
                    <li><a ui-sref="app.runners">Рейтинг</a></li>
                    <li><a ui-sref="app.competitions">Соревнования</a></li>
                    <li><a ui-sref="app.about">O рейтинге</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-sm-offset-1"> 
	              <i class="fa fa-envelope"></i>: 
                     <a ui-sref="mailto:test@test.com">
                     oleksandr.starov[at]gmail.com</a>
            </div>
            <div class="col-xs-12 col-sm-4">
              <login-component></login-component>
            </div>
          </div> 
         <div class="row">
            <div class="col-xs-12">
                <p align=center>©2016-2017 Oleksandr Starov|v.: 0.5.3 / 2017-04-11</p>
            </div>
        </div>
    </div>
</footer>