<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="#/"><img src="images/favicon.ico"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a ui-sref="app" data-toggle="collapse" data-target="#navbar.in">
                    <span class="glyphicon glyphicon-home"
                     aria-hidden="true"></span> Главная</a></li>
                <li><a ui-sref="app.runners" data-toggle="collapse" data-target="#navbar.in">
                    <span class="glyphicon glyphicon-th-list"
                     aria-hidden="true"></span> Рейтинг</a></li>
                <li><a ui-sref="app.competitions" data-toggle="collapse" data-target="#navbar.in">
                     <span class="glyphicon glyphicon-list-alt" 
                     aria-hidden="true"></span> 
                     Соревнования</a></li>
                 <li><a ui-sref="app.about" data-toggle="collapse" data-target="#navbar.in">
                     <span class="glyphicon glyphicon-info-sign"
                     aria-hidden="true"></span> 
                     О рейтинге</a></li>
            </ul>
        </div>
    </div>
</nav>         
           
<header class="jumbotron">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="container">
        <div class="row row-header">
            <div class="col-xs-12 col-sm-10">
                <h2>Рейтинг спортсменов Харьковской области</h2>
            </div>
            <div class="col-xs-12 col-sm-2">
                <img src="images/HFSO.png" class="img-responsive">
            </div>
        </div>
    </div>
</header>