<div class="container">
  <loader-template ng-hide="isDataLoaded"></loader-template>
  <div class="row" ng-show="isDataLoaded && isError">{{message}}</div>
  <div class="row" ng-show="isDataLoaded && !isError">
    
   <div class="col-xs-12 col-sm-5 info">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Статистика</h3>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Всего спортсменов</dt>
                    <dd>{{homeCtrl.data.simpleStats[0].DATA}}</dd>
                    <dt>Активных</dt>
                    <dd>{{homeCtrl.data.simpleStats[1].DATA}}</dd>
                    <dt>Активных &gt6 стартов</dt>
                    <dd>{{homeCtrl.data.simpleStats[2].DATA}}</dd>
                    <hr>
                    <dt>Всего стартов</dt>
                    <dd>{{homeCtrl.data.simpleStats[3].DATA}}</dd>
                    <dt>в т.ч. за год</dt>
                    <dd>{{homeCtrl.data.simpleStats[4].DATA}}</dd>
                    <hr>
                    <dt>Больше всех стартов</dt>
                    <dd>{{homeCtrl.data.simpleStats[5].DATA}} - {{homeCtrl.data.simpleStats[6].DATA}}</dd>
                    <dt>за последний год</dt>
                    <dd>{{homeCtrl.data.simpleStats[7].DATA}} - {{homeCtrl.data.simpleStats[8].DATA}}</dd>
                    <dt>Последний старт</dt></dt>
                    <dd class="date-field">{{homeCtrl.data.simpleStats[9].DATA | date:'dd-MM-yyyy'}}</dd>
                    <dt>Пересчет очков</dt></dt>
                    <dd class="date-field">{{homeCtrl.data.simpleStats[10].DATA | date:'dd-MM-yyyy'}}</dd>
               </dl>
            </div>
        
        </div>
    </div>
    <div class="col-xs-12 col-sm-5 col-sm-offset-2 info">
       
      <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Топ-3</h3>
        </div>
        <div class="panel-body">
          <table class="fullWidth">
            <thead>
              <tr>
                <th>№</th>
                <th>Имя</th>
                <th>Очки</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="runner in homeCtrl.data.leaders | filter:{'SEX':'M'}">
                <td>{{$index +1}}</td>  
                <td><a ui-sref="app.runner({id: runner.ID})">{{runner.FULLNAME}}</a></td>
                <td>{{ runner.CUR_RANK | number:2}}</td>
              </tr>
              <tr class="blank-row"><td colspan="3"></td></tr>
             
              <tr ng-repeat="runner in homeCtrl.data.leaders | filter:{'SEX':'W'}">
                <td>{{$index+1}}</td>  
                <td><a ui-sref="app.runner({id: runner.ID})">{{runner.FULLNAME}}</a></td>
                <td>{{ runner.CUR_RANK | number:2}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      
      </div>
    </div>
  </div>
</div>
